body {
  background-color: #282c34;
  /* background: url("tuun.jpg") no-repeat; */
  overflow: hidden;
}

.loginButt {
	top: 50%;
	/* left: 50%; */
	margin-top: -4em; /*set to a negative number 1/2 of your height*/
  /* margin-left: -2.2em; set to a negative number 1/2 of your width */
  background-color: #6C2EB9 !important;
  border-color: #6C2EB9 !important;
}

.landing-page-container {
  text-align:center;
  margin-top: 10rem;
}

.landing-page {
  height: 100%;
  min-height: 100vh;
  background-image:url('/music-festival-grey.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.login-spotify-btn {
  margin-top: 10rem !important;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  border-color: #fff;
  box-shadow: 5px 5px 5px black;
}

h1 {
  font-size: 60px !important;
}

.white {
  margin-top: 5rem;
  background-color: white !important;
  color: black !important;
  font-size: 24px;
}

.jumbotron {
  margin-left: 2rem;
  margin-right: 2rem;
}
