body {
  overflow: scroll !important;
}

.hr-line {
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #282c34 !important;
}

.room-container {
  padding-top: 6rem;
  margin-top: 10rem;
  margin: 2rem;
  text-align:left;
}

.room-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.users-item {
  position: relative;
  top: 11px;
}

.table-clear {
  background-color: #282c34;
  color: #fff;
}

.table-column {
  border-bottom: 1px solid #343a40 !important;
  border-top: 1px solid #343a40 !important;
}

.card {
    /* background-color: #6C2EB9; */
    background-color:#343a40;
}

.cardBody {
    background-color: rgb(26, 24, 24);
    display: flex;
    flex-direction: column;
}

.accordion {
    width: 100%;
    margin-bottom: 10%
    /* margin-left: 20%; */
}

.selectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.selection {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    flex: auto 1 0;
}


.glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {
  width: 10px;
  height: 5px;
  background-color: rgb(99, 99, 99);
  display: inline-block;
  transition: all .1s linear;
}
.glyphicon-chevron-down-custom .sp-1, .glyphicon-chevron-up-custom .sp-2 {
  transform: skewY(-40deg);
}
.glyphicon-chevron-up-custom .sp-1, .glyphicon-chevron-down-custom .sp-2 {
  transform: skewY(40deg);
}
.glyphicon {
  top: -2px;
}
