.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  font-family: 'Poppins', sans-serif;
  box-sizing: content-box;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif; */
}

.move-items-up {
  margin-top: -50rem;
}

.bold {
  font-weight: bold;
}

.purple {
  color: #6C2EB9;
}

.dark-black {
  color: #282c34;
}

.align-center {
  text-align: center;
  align-items: center;
}

.App-foreground {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  color: white;
  position: relative;
  top: 150px;
}

.better-logo {
  width: 300px;
  height: 180px;
  background-image: url('assets/tuun.jpg');
  background-size: contain;
  margin: auto;
  margin-bottom: 1em;
}

.App-logo {
  height: 40vmin;
}

.hint {
  font-size: 1rem !important;
}

.top-spacing {
  padding-top: 6rem;
}

.App-header {
  margin: 0;
  bottom: 0%;
  font-size: 70px;
}

.App-link {
  background-color: #6C2EB9 !important;
  border-color: #6C2EB9 !important;
  color: #fff !important;
  font-weight: bold !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem !important;
}

.purple-btn {
  background-color: #6C2EB9 !important;
  border-color: #6C2EB9 !important;
  color: #fff !important;
  font-weight: bold !important;
  border-radius: 0.25rem !important;
}

.form-button {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.Title {
  margin-bottom: 8vw;
}

.jumbotron {
  background-color: #343a40!important;
}

.table {
  font-size: 12px;
  text-align: left;
  white-space: normal;
}

.NavTab {
  color: #fff !important;
}

.dropdown-divider {
    border-top: 3px solid #6C2EB9!important;
}
