.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif; */
}

.App-foreground {
  min-height: 80vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  color: white;
}

.better-logo {
  width: 300px;
  height: 180px;
  background-image: url('assets/tuun.jpg');
  background-size: contain;
  margin: auto;
  margin-bottom: 1em;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  margin: 0;
  bottom: 0%;
  font-size: 70px;
}

.App-link {
  background-color: #6C2EB9 !important;
  border-color: #6C2EB9 !important;
  color: #fff !important;
  display: flex;
  font-weight: bold !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem !important;
}

.form-button {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

/* .Title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -100px;
} */

.jumbotron {
  background-color: #343a40!important;
}

.table {
  font-size: 12px;
  text-align: left;
  white-space: normal;
}

.NavTab {
  color: #fff !important;
}

.dropdown-divider {
    border-top: 3px solid #6C2EB9!important;
}
